:root {
  color-scheme: light dark;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  width: 960px;
  margin: 0px auto 40px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 255);
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 0, 255);
}

main {
  padding-top: 1px;
}

main header h2 {
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
  font-size: 18pt;
}

.back, .back a {
  font-size: 11pt;
  color: #666;
}

.back i {
  margin-right: 2px;
}

p.back i {
  font-size: 10pt;
  color: #888;
  margin-right: 3px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(39, 39, 37);
    color: #eee;
  }

  a {
    color: rgb(0, 133, 255);
  }

  a:visited {
    color: rgb(0, 133, 255);
  }

  .back, .back a {
    color: #888;
  }

  p.back i {
    color: #888;
  }
}
